<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
   <h2> {{profile.user}}</h2>
   <h2> {{profile.user.first_name}}</h2>
   <h2> {{profile.user.last_name}}</h2>
   <h2> {{profile.user.password}}</h2>
   <h2> {{profile.address}}</h2>
   <h2> {{profile.phone_number}}</h2>


<h4>{{profile.phone_number}}</h4>
<button>  Edit Profile </a></button>
</body>
</html>